
<body id="bodymain">
    <main>                                                                                                                     <!-- MAIN Area de conteudo principal do site-->
        <div id="main-container" class="container">
            <div class="row">     <!--linhas-->
                <div class="col-md-12">
                    <h6 id="main-list-title"> EncontreJá, localize e faça contato rapidamente com profissionais que atendendem melhor os requisitos de sua empresa, ou anuncie uma vaga</h6>
                    <h6 id="main-list-title2"> Ou caso está a procura de uma oportunidade, anuncie-se aqui para que as empresas possam te encontrar!!!</h6>
                   <ul id="main-list" class="list-goup">
                        <li class="list-group-item profissional">
                            <img id="img" src="/img/btnprofissional.png" alt="buscaprofissional">
                            <h4>Anuncie a vaga de sua empresa aqui!!!</h4>
                            <a class="btn btn-primary" >Anunciar Agora</a>
                            <small id"titleHelp" class="text text-muted"><br>Caso nao queira procurar seu profissional anuncie vagas de sua empresa aqui!</small>  
                       
                            <h4>Busque seu profissional!</h4>
                            <a class="btn btn-primary" href="/login"> Buscar Profissional</a>
                            <small id"titleHelp" class="text text-muted"><br>Busque um profissional de acordo com os atributos selecionados!</small>  
                          
                        </li>
                    </ul> 
                    <ul id="main-list2" class="list-goup">
                        <li class="list-group-item vagas">
                            <img src="/img/btnvagas.png" alt="buscaprofissional">
                            <h4>Anuncie seu curriculo já!</h4>
                            <a class="btn btn-primary" href="/login">Anunciar Curriculo</a>
                            <small id"titleHelp" class="text text-muted"><br>Anuncie seu curriculo para que empresas possam te achar!</small>  
                        
                            <h4>Busque vagas de empresas!</h4>
                            <a class="btn btn-primary" href="/login"> Buscar Vagas</a>
                            <small id"titleHelp" class="text text-muted"><br>Candidate-se a vagas de empresas!</small>       
                  
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</body>
